:root {
    --color-primary-dark: #0f1934;
    --color-primary-light: #3055ba;

    // --color-secondary: #ff4d00;
    // --color-secondary-2: #ff5e00;
    // --color-secondary-dark: #aa3300;
    // --color-secondary-light: #f68e62;

    --color-secondary: #ffe066;
    --color-secondary-light: #ffe024;
    --color-secondary-dark: #ffd43b;

    --color-tertiary: #ff5100;

    --color-black: #000;
    --color-white: #fff;

    --gradient-black-30: rgba(0,0,0,.3);
    --gradient-secondary-70: rgba(255,224,102,.7);
    --gradient-secondary-90: rgba(255,224,102,.9);
    --gradient-secondary-light-80: rgba(255,224,36,.8);

    --default-font-paragraph: 2rem;
    --default-font-header: 2.5rem;
    --default-font-sub-header: 2.2rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%;
    overflow-x: hidden;
    animation: showIn 3s;
    text-size-adjust: auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
}