:root {
    --color-primary-dark: #0f1934;
    --color-primary-light: #3055ba;

    --color-secondary: #ff4d00;
    --color-secondary-dark: #aa3300;
    --color-secondary-light: #FFA680;

    --color-grey-dark-1: #a9a9a9;

    --color-black: #000;
    --color-white: #fff;

    --margin-y-3: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%;
    overflow-x: hidden;
    animation: showIn 3s;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white);
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
}