.paragraph {
    position: relative;
    font-size: var(--default-font-paragraph);
    font-weight: 300;
    color: var(--color-white);
    word-break: keep-all;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.section-title {
    position: relative;
    letter-spacing: 3px;
    color: var(--color-white);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    &__header {
        font-size: var(--default-font-header);
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 4px;
        font-weight: bold;
        margin: 3rem 0;
    }

    &__description {
        font-size: var(--default-font-sub-header);
        font-weight: 300;
        text-align: center;
    }
}