@mixin bg-layer {
    position: absolute;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}