@mixin fixed-bg {
    position: fixed;
    content: "";
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}