.bar-active {
    animation: progressBar 3s;
    opacity: 1;
}

.margin-right-small { margin-right: 10px;}
.margin-bottom-big { margin-bottom: 9rem !important;}

.padding-x-2 {padding: 0 2rem};

.align-center { text-align: center;}

.bold { font-weight: bold;}