.section-professional {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--gradient-black-30), var(--gradient-black-30)), url(img/about/about-bg-small.webp);
    background-size: cover;
    background-position: 50% 50%;
    padding: 0 0 3rem 0;
}

.about {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gradient-secondary-light-80);
    padding: 3rem 1rem;

    &__image-box {
        display: none;
        justify-content: center;
        margin: 2rem 0 4rem 0;
    }

    &__image {
        width: 82%;
        max-height: 23.8rem;
        border-radius: 50%;
        border: 3px solid var(--color-primary-dark);
    }

    &__content {
        text-align: left;
    }

    &__title {
        font-size: 3rem;
        font-weight: 400;
        color: var(--color-black);
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3rem;
    }
}

.skills {
    width: 95%;
    align-self: flex-start;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2rem 1rem 2rem 2rem;
    transition: all 2s;

    &__box {
        padding: 1rem 0;

        &--70 {
            width: 80%;
        }

        &--75 {
            width: 85%;
        }

        &--80 {
            width: 90%;
        }

        &--85 {
            width: 95%;
        }

        &--95 {
            width: 105%;
        }
    }

    &__name {
        font-size: inherit;
        color: var(--color-white);
    }

    &__progress {
        display: flex;
        align-items: center;
    }

    &__bar {
        width: 100%;
        background-image: linear-gradient(to left, var(--color-secondary-light), var(--color-tertiary) 95%);
        height: 12px;
        display: inline-block;
    }

    &__percent {
        font-weight: 400;
        color: var(--color-white);
        opacity: 0;
        transition: opacity 2s;
        margin-left: 1.3rem;
    }

    &__bar.active  ~ &__percent {
        opacity: 1;
    }
}

.section-video-games {
    width: 100%;
    background-color: var(--color-black);
    margin-bottom: -0.1rem;

}

.video-games-slider {
    position: relative;

    &__swiper-slide {
        font-size: 0;
    }

    &__video {
        width: 100%;
        height: auto;
        max-height: 50rem;
        object-fit: cover;
        object-position: center;
    }

    &__navigation {
        position: absolute;
        top: 88%;
        color: var(--color-black);
        --swiper-navigation-size: 3rem;
        background-color: var(--color-white);
        height: 22px;
        width: 22px;
        border: 1px solid var(--color-black);
        border-radius: 50%;

        &::after {
            font-size: 13px;
        }
    }

    &__title-box {
        max-height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        background-color: var(--gradient-secondary-light-80);
        padding: .8rem;
    }

    &__title {
        font-size: 1.9rem;
        font-weight: 500;
        color: var(--color-white);
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
    }

    &__role {
        font-size: 1.5rem;
        color: var(--color-white);
        margin-bottom: .5rem;
    }
}

.section-tabletop {
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase {
    position: relative;
        width: 95%;
        background-color: var(--color-black);
        padding: 2rem 1rem;

    &__title-box {
        margin-bottom: 3rem ;
    }

    &__title {
        font-size: 2.5rem;
        font-weight:700;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        color: var(--color-white);
        margin-bottom: 2rem;

    }

    &__sub-title {
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        color: var(--color-secondary-light);
    }

    &__image-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__image {
        width: 48%;
        height: auto;
        margin-bottom: 5px;

        &--last {
            margin-bottom: 5px !important;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.section-workshops {
    width: 100%;
    background-image: url(img/workshops/workshops-bg-small.webp);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workshop {
    background-color: var(--gradient-secondary-light-80);
    padding: 0 2rem;

    &__composition {
        position: relative;
        height: 19rem;
        display: flex;
        justify-content: center;
        transform: scale(1.1);
    }

    &__image {
        position: absolute;
        width: 33.333333%;
        top: 8rem;

        &--left {
            left: 20px;
        }

        &--middle {
            top: 5rem;
            z-index: 10;
            transform: scale(1.2);
        }

        &--right {
            right: 20px;
        }
    }

    &__list {
        font-size: 1.7rem;
        list-style: none;
        margin-bottom: 3rem;
    }

    &__list-item {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        padding: .8rem 0;

        &::before {
            content: "";
            display: inline-block;
            height: 2rem;
            width: 2rem;
            margin-right: 0.9rem;
            background-image: url(img/svg/gamepad.svg);
            background-size: cover;
            background-position: 60%;
            transform: rotate(-30deg);
        }
    }
}