.section-professional {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(img/about-bg-small.webp);
    background-size: cover;
    background-position: 50% 50%;
    padding: 0 0 3rem 0;
}

.about {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-secondary-dark);
    padding: 3rem 2rem;

    &__image-box {
        display: none;
        justify-content: center;
        margin: 2rem 0 4rem 0;
    }

    &__image {
        width: 82%;
        max-height: 23.8rem;
        border-radius: 50%;
        border: 3px solid var(--color-primary-dark);
    }

    &__content {
        text-align: left;
    }

    &__title {
        font-size: 3rem;
        font-weight: 300;
        color: var(--color-secondary-light);
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: var(--margin-y-3);
    }
}

.skills {
    width: 95%;
    align-self: flex-start;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2rem 1rem;
    transition: all 2s;

    &__box {
        padding: 1rem 0;

        &--70 {
            width: 80%;
        }

        &--75 {
            width: 85%;
        }

        &--80 {
            width: 90%;
        }

        &--85 {
            width: 95%;
        }

        &--95 {
            width: 105%;
        }
    }

    &__name {
        font-size: inherit;
    }

    &__progress {
        display: flex;
        align-items: center;
    }

    &__bar {
        width: 100%;
        background-image: linear-gradient(to left, rgb(256,166,128), rgb(170,51,0));
        height: 12px;
        display: inline-block;
    }

    &__percent {
        font-weight: 400;
        opacity: 0;
        transition: opacity 2s;
        margin-left: 1.3rem;
    }

    &__bar.active  ~ &__percent {
        opacity: 1;
    }
}

.section-video-games {
    width: 100%;
    background-color: var(--color-black);
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: -0.1rem;

}

.video-games-slider {
    position: relative;

    &__swiper-slide {
        font-size: 0;
    }

    &__video {
        width: 100%;
        height: auto;
        max-height: 50rem;
        object-fit: cover;
        object-position: center;
    }

    &__navigation {
        position: absolute;
        top: 88%;
        color: var(--color-black);
        --swiper-navigation-size: 3rem;
        background-color: var(--color-white);
        height: 22px;
        width: 22px;
        border: 1px solid var(--color-black);
        border-radius: 50%;

        &::after {
            font-size: 13px;
        }
    }

    &__title-box {
        max-height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        background-color: rgba(170, 51, 0,.9);
        border-top: 2px solid var(--color-secondary);
        border-bottom: 2px solid var(--color-secondary);
        padding: .8rem;
    }

    &__title {
        font-size: 1.9rem;
        font-weight: 500;
        color: var(--color-white);
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
    }

    &__role {
        font-size: 1.5rem;
        color: var(--color-white);
        margin-bottom: .5rem;
    }
}

.section-tabletop {
    width: 100%;
    background-color: var(--color-black);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}