.section-intro {

}

.intro-slider {
    &__swiper-slide {
        display: flex;
        padding-top: 120%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,.3);

        &--1 {
            background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)) ,url(img/evil-west-small.webp);          
        }

        &--2 {
            background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)) ,url(img/lords-of-the-fallen-small.webp);
        }

        &--3 {
            background-image:url(img/sniper-ghost-warrior-3-small.webp);
        }

        &--4 {
            background-image:url(img/sniper-ghost-warrior-contracts-small.webp);
        }

        &--5 {
            background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)) ,url(img/shadow-warrior-3-small.webp);
        }
    }
}