.showcase {
    position: relative;
        width: 95%;
        background-color: var(--color-black);
        padding: 2rem 1rem;

    &__title-box {
        margin: 3rem 0;
    }

    &__title {
        font-size: 2.5rem;
        font-weight:700;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;

    }

    &__sub-title {
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        color: var(--color-secondary);
    }

    &__image-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__image {
        width: 48%;
        height: auto;
        margin-bottom: 5px;

        &--last {
            margin-bottom: 5px !important;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}