@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes progressBar {
  0% {
    opacity: 0.2;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}
:root {
  --color-primary-dark: #0f1934;
  --color-primary-light: #3055ba;
  --color-secondary: #ff4d00;
  --color-secondary-2: #ff5e00;
  --color-secondary-dark: #aa3300;
  --color-secondary-light: #f68e62;
  --color-grey-dark-1: #a9a9a9;
  --color-black: #000;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;
  overflow-x: hidden;
  animation: showIn 3s;
  text-size-adjust: auto;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.paragraph {
  font-size: 1.7rem;
  color: var(--color-white);
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.section-title {
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--color-white);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.section-title__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 4px;
  font-size: inherit;
  font-weight: bold;
  margin: 3rem 0;
}
.section-title__description {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.active {
  animation: progressBar 2s;
}

.margin-right-small {
  margin-right: 10px;
}

/**
 * Swiper 8.3.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: July 6, 2022
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  background-image: url(img/header/header-bg-small.webp);
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-bottom: 48%;
}

.mobile-nav__checkbox {
  display: none;
}
.mobile-nav__button {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  height: 4.5rem;
  width: 4.5rem;
  position: fixed;
  top: 3rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.mobile-nav__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 1.5rem;
  background-image: radial-gradient(var(--color-primary-dark), var(--color-primary-dark));
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.mobile-nav__navigation {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
}
.mobile-nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.mobile-nav__item {
  margin: 1rem;
}
.mobile-nav__link:link, .mobile-nav__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav__link:link span, .mobile-nav__link:visited span {
  color: var(--color-secondary);
  margin-right: 0.9rem;
  display: inline-block;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__background {
  transform: scale(62);
}
.mobile-nav__checkbox:checked ~ .mobile-nav__navigation {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.mobile-nav__icon {
  position: relative;
  margin-top: 2.1rem;
}
.mobile-nav__icon, .mobile-nav__icon::before, .mobile-nav__icon::after {
  width: 2.5rem;
  height: 2px;
  background-color: var(--color-primary-dark);
  display: inline-block;
}
.mobile-nav__icon::before, .mobile-nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.mobile-nav__icon::before {
  top: -0.8rem;
}
.mobile-nav__icon::after {
  top: 0.8rem;
}
.mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon {
  background-color: transparent;
}
.mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(3rem);
}
.logo__image {
  width: 90%;
  max-height: 14rem;
  animation: moveInRight 2s;
}

.showcase {
  position: relative;
  width: 95%;
  background-color: var(--color-black);
  padding: 2rem 1rem;
}
.showcase__title-box {
  margin: 3rem 0;
}
.showcase__title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.showcase__sub-title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: var(--color-secondary);
}
.showcase__image-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.showcase__image {
  width: 48%;
  height: auto;
  margin-bottom: 5px;
}
.showcase__image--last {
  margin-bottom: 5px !important;
}
.showcase__image:last-of-type {
  margin-bottom: 0;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn__link:link, .btn__link:visited {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
}
.btn__link:link span, .btn__link:visited span {
  margin-left: 0.5rem;
}

.section-professional {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/about/about-bg-small.webp);
  background-size: cover;
  background-position: 50% 50%;
  padding: 0 1rem 3rem 1rem;
}

.about {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 94, 0, 0.7);
  padding: 3rem 1rem;
}
.about__image-box {
  display: none;
  justify-content: center;
  margin: 2rem 0 4rem 0;
}
.about__image {
  width: 82%;
  max-height: 23.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-primary-dark);
}
.about__content {
  text-align: left;
}
.about__title {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.skills {
  width: 95%;
  align-self: flex-start;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2rem 1rem;
  transition: all 2s;
}
.skills__box {
  padding: 1rem 0;
}
.skills__box--70 {
  width: 80%;
}
.skills__box--75 {
  width: 85%;
}
.skills__box--80 {
  width: 90%;
}
.skills__box--85 {
  width: 95%;
}
.skills__box--95 {
  width: 105%;
}
.skills__name {
  font-size: inherit;
}
.skills__progress {
  display: flex;
  align-items: center;
}
.skills__bar {
  width: 100%;
  background-image: linear-gradient(to left, rgb(255, 166, 128), rgb(170, 51, 0));
  height: 12px;
  display: inline-block;
}
.skills__percent {
  font-weight: 400;
  opacity: 0;
  transition: opacity 2s;
  margin-left: 1.3rem;
}
.skills__bar.active ~ .skills__percent {
  opacity: 1;
}

.section-video-games {
  width: 100%;
  background-color: var(--color-black);
  margin-bottom: -0.1rem;
}

.video-games-slider {
  position: relative;
}
.video-games-slider__swiper-slide {
  font-size: 0;
}
.video-games-slider__video {
  width: 100%;
  height: auto;
  max-height: 50rem;
  object-fit: cover;
  object-position: center;
}
.video-games-slider__navigation {
  position: absolute;
  top: 88%;
  color: var(--color-black);
  --swiper-navigation-size: 3rem;
  background-color: var(--color-white);
  height: 22px;
  width: 22px;
  border: 1px solid var(--color-black);
  border-radius: 50%;
}
.video-games-slider__navigation::after {
  font-size: 13px;
}
.video-games-slider__title-box {
  max-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: rgba(255, 94, 0, 0.9);
  padding: 0.8rem;
}
.video-games-slider__title {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--color-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.video-games-slider__role {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.section-tabletop {
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-workshops {
  width: 100%;
  background-image: url(img/workshops/workshops-bg-small.webp);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workshop {
  background-color: rgba(255, 94, 0, 0.7);
  padding: 0 2rem;
}
.workshop__composition {
  position: relative;
  height: 19rem;
  display: flex;
  justify-content: center;
  transform: scale(1.1);
}
.workshop__image {
  position: absolute;
  width: 33.333333%;
  top: 8rem;
}
.workshop__image--left {
  left: 20px;
}
.workshop__image--middle {
  top: 5rem;
  z-index: 10;
  transform: scale(1.2);
}
.workshop__image--right {
  right: 20px;
}
.workshop__list {
  font-size: 1.7rem;
  list-style: none;
  margin-bottom: 3rem;
}
.workshop__list-item {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
}
.workshop__list-item::before {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-right: 0.9rem;
  background-image: url(img/svg/gamepad.svg);
  background-size: cover;
  transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */
